aiohttp  # Async HTTP client for web requests.
asyncio  # Library for asynchronous programming.
discord.py  # Discord API wrapper for bot creation.
requests  # Simplified HTTP requests.
flask  # Micro web framework for Python applications.
discord  # Another library for Discord interactions.
python-dotenv  # Loads environment variables from .env files.
PyYAML  # YAML parser and emitter for Python.
youtube-transcript-api  # Retrieves YouTube video transcripts.
langdetect  # Detects the language of text.
PyPDF2  # PDF file reading and manipulation library.
python-docx  # Creates and updates Microsoft Word (.docx) files.
tqdm  # Progress bar for loops in Python.
fake-useragent  # Generates random user-agent strings.
openai  # Client library for OpenAI's API.
bs4  # Beautiful Soup for parsing HTML and XML documents.
numexpr  # Fast numerical expression evaluator for NumPy arrays.
langchain-core>=0.1.0
langchain-community>=0.0.10 # Community version of LangChain for LLM applications.
langchain-openai>=0.0.3
